.brand-header {
    font-family: 'Caveat', cursive;
    font-size: 46px;
}

.heading {
    margin : 3% 0;
    font-family: 'Oxygen' 'sans-serif';
}

.ni {
    color: white;
    font-family: 'Caveat', cursive;
    font-size: 24px;

}